<html>
<head>
	<title>
	HOTELSTUCK
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="sburb2.png">
</head>
<body>
<div class="navbar">
	<div id="homebutton">
	<a href="/">
	<div id="homeimage">
	<!--HOME THING-->
	</div>
	</a>
	</div>
	<a href="about">
		<div id="navbutton">
		ABOUT
		</div>
	</a>
	<a href="rooms">
		<div id="navbutton">
		ROOMS
		</div>
	</a>
	<a href="reserve">
		<div id="navbutton">
		RESERVATIONS
		</div>
	</a>
</div>
<div id="header2">ABOUT</div>
<div id="main">
Welcome to the """official""" website of what is hopefully the world's first HOMESTUCK-themed hotel!
<br>
<br>
Based on the sensational webcomic <em><a href="http://mspaintadventures.com/">Homestuck</a></em>, created by Andrew Hussie, Hotelstuck seeks to offer only the finest lodging facilities that cater to both fans and non-fans of <em>Homestuck</em>.
<br>
<br>
<br>
Previously known as <em>Hotel Fruity Rumpus</em>.
</div>
</body>

</html>
