<html>
<head>
	<title>HOTELSTUCK
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="sburb2.png">
</head>
<body>
<div class="navbar">
	<div id="homebutton">
	<a href="/">
	<div id="homeimage">
	<!--HOME THING-->
	</div>
	</a>
	</div>
	<a href="about">
		<div id="navbutton">
		ABOUT
		</div>
	</a>
	<a href="rooms">
		<div id="navbutton">
		ROOMS
		</div>
	</a>
	<a href="reserve">
		<div id="navbutton">
		RESERVATIONS
		</div>
	</a>
</div>
<div id="header">HOTELSTUCK</div>
<div class="caption">
	You, a young traveler, stand in the lobby of quite possibly the strangest and yet most beautiful hotel known to mortal man. What do you do?
<br> <br> 
<a href="about">
>Inquire as to the nature of this wonderful facility.</a>
<br>
<a href="rooms"> 
>Browse through the various types of rooms available for your consumption. </a>
<br>
<a href="reserve">
>Make arrangements to spend the night. </a>
<br>

</div>
</body>

</html>
