<html>
<head>
	<title>HOTELSTUCK
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="sburb2.png">
</head>
<body>
<div class="navbar">
	<div id="homebutton">
	<a href="/">
	<div id="homeimage">
	<!--HOME THING-->
	</div>
	</a>
	</div>
	<a href="about">
		<div id="navbutton">
		ABOUT
		</div>
	</a>
	<a href="rooms">
		<div id="navbutton">
		ROOMS
		</div>
	</a>
	<a href="reserve">
		<div id="navbutton">
		RESERVATIONS
		</div>
	</a>
</div>
<div id="header2">ROOMS</div>
<div id="rooms">
	<div class="roomname">Single Deluxe</div>
	<img src="johnroom.gif">
	<div class="roomtext">
	Standard Single room. For those who really just need a place to sleep.<br><br> Features include:
	<ul>
	<li>Complimentary cake</li>
	<li>Electronic safe disguised as MAGIC CHEST</li>
	<li>High-speed Internet Connection (wired)</li>	
	<li>100% Asteroid proof</li>
	</ul>
	<span>Disclaimer: Not actually asteroid-proof.</span>
	</div>

	<div class="roomname">Serious Business Suite</div>
	<img src="dadroom.gif">
	<div class="roomtext">
	Standard Double room. Perfect for those on business trips.<br><br> Features include:
	<ul>
	<li>More pipes than necessary</li>
	<li>Complimentary baking supplies</li>
	<li>Complimentary neckties</li>
	<li>Complete set of <em>Buchanan's Guide to Necktie-tying</em></li>
	<li>A very serious atmosphere</li>	
	</ul>
	<span>Disclaimers: Images are artistic depictions only. Our Serious Business Suites do not actually have holes on the floor.</span>
	</div>
	

	<div class="roomname">Dystopian Earth</div>
	<img src="roxyroom.gif">
	<div class="roomtext">
	Single Suite. For those who just want to watch the world burn.<br><br> Features include:
	<ul>
	<li>Fully-functional programmable window displays (optional)</li>
	<li>Portable nuclear fusion reactors (must be kept within room at all times)</li>
	<li>Shelf of preserved mutant cats</li>
	<li>Complimentary vodka</li>
	</ul>
	<span>Disclaimer: Alcohol only for the consumption of those 18 years and older and/or those living in actual post-apocalyptic scenarios.</span>
	</div>

	
	<div class="roomname">Respite Block</div>
	<img src="karkatroom.gif">
	<div class="roomtext">
	Double Suite. For that "out-of-this-world" feel.<br><br> Features include:
	<ul>
	<li>Complimentary scythe</li>
	<li>Faux Alternian movie posters</li>
	<li>Waterbed disguised as Alternian Slime Pod</li>
	<li>100% curse-resistant</li>
	</ul>
	<span>Disclaimer: Not actually 100% curse-resistant.</span>
	</div>

	<div class="roomname">Texas Penthouse</div>
	<img src="daveroom.gif">
	<div class="roomtext">
	Athletic Suite room. Only for the really cool kids.<br><br> Features include:
	<ul>
	<li>Access to roofdeck</li>
	<li>Complimentary Katanas (100% break-resistant)</li>
	<li>Room also doubles as a music production studio (so you can pump out them sick-ass beats, yo)</li>
	<li>Puppets hidden everywhere. Even in the fridge. (Not pictured)</li>
	</ul>
	<span>Disclaimers: Due to the sensitive nature of the puppets, this room is not suitable for those with heart conditions. Katanas are not actually 100% break-resistant. Management is not responsible for any deaths and/or injuries sustained as a result of having a roofdeck swordfight.</span>
	</div>

	<div class="roomname">An Excellent Host</div>
	<img src="scratchroom.gif">
	<div class="roomtext">
	Top-of-the-Line Executive Suite. Need we say more?<br><br> Features include:
	<ul>
	<li>Everything is green.</li>
	<li>Literally everything in this posh and well-furnished room is green.</li>
	<li>Green. Everything.</li>
	<li>Hope you like the color green.</li>
	</ul>
	<span>Disclaimers: Some of the room's past tenants have claimed to exhibit symptoms of [near] omniscience. We are not liable for any damage, be it mental, emotional, or physical, caused by massive information overload. Room is also prone to fire. Green fire.</span>
	</div>

	<div class="roomname"><span>SWEET BRO AND HELLA JEFF DELUKS REWM</span></div>
	<img src="sbahj.jpg">
	<div class="roomtext2">
	the BEST rewm.... in the WOOOOR DL
	<ul>
		<li>NANCHOS</li>
	</ul>
	<ol>
		<li>NO STAIRS</li>
	</ol>
	WERE DOING THIS MAN
	<br>
	<em><strong>WHERE MAKING THIS HAPPEN</strong></em>
	<br>
	<br>
	<span>Disclaimer: There is actually an overabundance of stairs.</span>
	</div>
</div>
</body>

</html>
